body {
  padding-top: 56px;
}

.left-aligned {
  margin-left: auto;
}

.bg-dark {
  background-color: #343a40 !important;
}

.bg-hero {
  background-color: #45b06cff;
}

/* CALLOUT */
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}

.bd-callout h4 {
  margin-bottom: 0.25rem;
}

.bd-callout p:last-child {
  margin-bottom: 0;
}

.bd-callout code {
  border-radius: 0.25rem;
}

.bd-callout + .bd-callout {
  margin-top: -0.25rem;
}

.bd-callout-info {
  border-left-color: #5bc0de;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

.bd-callout-danger {
  border-left-color: #d9534f;
}

/* footer */
footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}
.active {
  text-decoration: none; /* 取消下划线 */
  color: #955321 !important; /* 更改激活状态下的颜色 */
}
/* CSS */
.back-to-top-button {
  position: fixed;
  bottom: 18vw;
  left: 8vw;
  z-index: 999; /* 确保按钮位于其他元素之上 */
  background-color: transparent; /* 按钮背景透明 */
  color: white; /* 按钮文字颜色 */
  border: none;
  padding: 10px; /* 内边距 */
  width: 100px; /* 按钮宽度 */
  height: 100px; /* 按钮高度 */
  cursor: pointer;
  border-radius: 50%; /* 圆形按钮 */
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-to-top-button img {
  width: 300px; /* 图片宽度 */
  height:300px; /* 图片高度 */
  object-fit: contain; /* 确保图片内容完整显示 */
}

.navbar-transparent:hover {
  backdrop-filter: blur(5px); /* 添加高斯模糊 */
  background-color: rgba(255,235,211, 0.8); /* 可以加一点透明度来突出效果 */
  color: #c67e38;
}
.navbar-transparent {
  color: #c67e38;
  font-weight: bold;
  font-size: 1.8rem; 
  backdrop-filter: blur(5px); /* 添加高斯模糊 */
  position: fixed; /* 固定在顶部 */
  top: 0;
  left: 0;
  width: 100%; /* 宽度占满 */
  height: 70px;
  z-index: 1030; /* 确保在内容上方 */
  background-color: rgba(255,235,211, 0.4); /* 半透明背景色 */
  transition: background-color 0.3s; /* 背景颜色变化时的过渡效果 */
}
.navbar-transparent .nav-link {
  color: #c67e38; /* 替换为你想要的颜色 */
}
.navbar-transparent .nav-link:hover {
  color: rgba(163,122,102); /* 鼠标悬停时的字体颜色 */
}
.custom-dropdown .dropdown-menu {
  
  border: none; /* 去掉边框 */
  padding: 0; /* 去掉内边距 */
  background-color: rgba(255,235,211, 0.5); /* 设置背景色 */
  transform: translateY(7px); /* 向下移动弹出框 */
}
.custom-dropdown .dropdown-item {
  color: #A47A6C; /* 自定义字体颜色 */
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.3s; /* 添加过渡效果 */
  background-color:rgba(255,235,211, 0.4); /* 自定义背景颜色 */
}

.custom-dropdown .dropdown-item:hover {
  background-color: rgba(43, 93, 111, 0.1); /* 悬停时改变背景颜色 */
  color: #A47A6C; /* 悬停时字体颜色 */
}
.navbar-transparent .dropdown-item:hover {
  color: rgba(163,122,102); /* 下拉菜单项悬停时的字体颜色 */
}
.navbar-transparent .nav-link {
  margin-right: 15px; /* 设置右边距 */
}
.navbar-transparent .nav-link {
  white-space: nowrap; /* 避免换行 */
}