body {
  padding-top: 56px;
}

.left-aligned {
  margin-left: auto;
}

.bg-dark {
  background-color: #343a40 !important;
}

.bg-hero {
  background-color: #45b06cff;
}

/* CALLOUT */
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}

.bd-callout h4 {
  margin-bottom: 0.25rem;
}

.bd-callout p:last-child {
  margin-bottom: 0;
}

.bd-callout code {
  border-radius: 0.25rem;
}

.bd-callout + .bd-callout {
  margin-top: -0.25rem;
}

.bd-callout-info {
  border-left-color: #5bc0de;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

.bd-callout-danger {
  border-left-color: #d9534f;
}

/* footer */
footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}
.active {
  text-decoration: none; /* 取消下划线 */
  color: #955321 !important; /* 更改激活状态下的颜色 */
}
/* CSS */
.back-to-top-button {
  position: fixed;
  bottom: 300px;
  left: 120px;
  z-index: 999; /* 确保按钮位于其他元素之上 */
  background-color: transparent; /* 按钮背景透明 */
  color: white; /* 按钮文字颜色 */
  border: none;
  padding: 10px; /* 内边距 */
  width: 100px; /* 按钮宽度 */
  height: 100px; /* 按钮高度 */
  cursor: pointer;
  border-radius: 50%; /* 圆形按钮 */
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-to-top-button img {
  width: 300px; /* 图片宽度 */
  height:300px; /* 图片高度 */
  object-fit: contain; /* 确保图片内容完整显示 */
}